body{
	padding:2em;
	margin:2em;
	background-image:url('images/andy-kogl--2Nz00cN6ac-unsplash.jpg');
	background-size:100% 100%;
}
table{
width:50%;
	background-color:#FFFFFF;
	margin:2%;
	border:0.3em #FF9900 solid;
}
p{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	margin-left:2%;
}
td{
	padding:1%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:1%;
}
th{
	padding:1%;
	font-size:1em;
}
input{
	margin-left:2%;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
}
